<ion-content>
  <ion-card>
    <ion-card-header>
      Hear Rate
    </ion-card-header>
    <ion-card-content>
      {{ hearRate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Peso
    </ion-card-header>
    <ion-card-content>
      {{ mass }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Calidad de Sueño
    </ion-card-header>
    <ion-card-content>
      {{ sleep }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Echo
    </ion-card-header>
    <ion-card-content>
      {{ echoT }}
    </ion-card-content>
  </ion-card>
</ion-content>