<ion-card>
  <ion-card-header>
    <ion-card-title>Step Check</ion-card-title>
    <ion-card-subtitle>Descubre la cantidad de pasos que has recorrido.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>¡Gracias por utilizar nuestra aplicación de prueba!</p>
    
    <p>Esta es una aplicacion es una practica para desarrollo de aplicaciones Android.</p>
    <br><p>Sitio: http://cdis.uanl.mx/ <br>Email: cdis@uanl.mx <br>Teléfono: (81) 1340.4375</p>
  </ion-card-content>

</ion-card>
